.auth{
    /* height: 30px;
    overflow: hidden; */
    /* margin: bottom 10000px; */
    /* backgroundColor: #85b1de;
     */
     min-width: none;
}

/* amplify-authenticator {
    --container-height: 100%;
  } */

